.page1
{
    width: 100%;
}

.top1
{
    width: 100%;
    height: 70vh;
    background-color: black;
    display: flex;
}

.bottom1
{
    width: 100%;
    height: 1vh;
    background-color: #acacbe;
}

.box1, .box2 
{
    width: 50%;
}

.text
{
    margin-left: 20%;
    margin-top: 20%;
}

h1, h2{
    color: white;
}